@font-face {
    font-family: 'samakalmjbold_italic';
    src: url('samakalmj-bolditalic-webfont.woff2') format('woff2'),
         url('samakalmj-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
